<section  id="go-catalog" class="catalog">
    <div class="container">
      <h2 class="catalog-title"
      >Catalog</h2>
      <ul class="catalog-list">
        <li class="catalog-item">
          <div class="catalog-container-nev">
            <div class="catalog-picture-box">
              <picture>
                <source
                  
                  srcset="/img/catalog/desc1.webp 1x,
                  /img/catalog/desc1-2x.webp 2x"
                  media="(min-width: 1280px)"/>
                <source
                  
                  srcset="/img/catalog/tab1.webp 1x,
                   /img/catalog/tab1-2x.webp 2x"
                  media="(min-width: 768px)"/>
                <source
                
                  srcset="/img/catalog/mob1.webp 1x, 
                  /img/catalog/mob1-2x.webp 2x"
                  media="(max-width: 767px)" />
                <img
                  src="/img/catalog/mob1.webp"
                  alt="Garmin Fenix 7X Pro Sapphire Solar"
                width="375" class="catalog-img"
                />
              </picture>              
            </div>
            <div class="catalog-cont-text">
              <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
              <p class="catalog-text section">€500</p>
            </div>
          </div>
        </li>
        <li class="catalog-item">
          <div class="catalog-container-nev">
            <div class="catalog-picture-box">
              <picture>
                <source
                srcset="/img/catalog/desc2.webp 1x,
                         /img/catalog/desc2-2x.webp 2x"
                  media="(min-width: 1280px)"
                />
                <source
                srcset="/img/catalog/tab2.webp 1x,
                        /img/catalog/tab2-2x.webp 2x"
                  media="(min-width: 768px)"
                />
                <source
                srcset="/img/catalog/mob2.webp 1x,
                      /img/catalog/tab2-2x.webp 2x"
                  media="(max-width: 767px)"
                />
                <img src="/img/catalog/mob2.webp "
                 alt="Garmin Marq Athlete"  width="375" class="catalog-img"/>
              </picture>
            </div>
            <div class="catalog-cont-text">
              <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
              <p class="catalog-text section">€450</p>
            </div>
          </div>
        </li>
        <li class="catalog-item">
          <div class="catalog-container-nev">
            <div class="catalog-picture-box">
              <picture>
                <source
                srcset="/img/catalog/desc3.webp 1x,
                     /img/catalog/desc3-2x.webp 2x"
                  media="(min-width: 1280px)"
                />
                <source
                srcset="/img/catalog/tab3.webp 1x,
                     /img/catalog/tab3-2x.webp 2x"
                  media="(min-width: 768px)"
                />
                <source
                srcset="/img/catalog/mob3.webp 1x,
                  /img/catalog/mob3-2x.webp 2x"
                  media="(max-width: 767px)"
                />
                <img src="/img/catalog/mob3.webp"
                 alt="Garmin Descent MK1" width="375" class="catalog-img"/>
              </picture>
            </div>
            <div class="catalog-cont-text">
              <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
              <p class="catalog-text section">€680</p>
            </div>
          </div>
        </li>
        <li class="catalog-item">
          <div class="catalog-container-nev">
            <div class="catalog-picture-box">
              <picture>
                <source
                  srcset="/img/catalog/desc4.webp 1x,
                 /img/catalog/desc4-2x.webp 2x"
                  media="(min-width: 1280px)"
                />
                <source
                srcset="/img/catalog/tab4.webp 1x,
                 /img/catalog/tab4-2x.webp 2x"
                  media="(min-width: 768px)"
                />
                <source
                srcset="/img/catalog/mob4.webp 1x,
              /img/catalog/mob4-2x.webp 2x"
                  media="(max-width: 767px)"
                />
                <img src="/img/catalog/mob4.webp" 
                alt="Garmin D2 Delta PX" width="375" class="catalog-img"/>
              </picture>
            </div>
            <div class="catalog-cont-text">
              <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
              <p class="catalog-text section">€380</p>
            </div>
          </div>
        </li>
        <li class="catalog-item">
          <div class="catalog-container-nev">
            <div class="catalog-picture-box">
              <picture>
                <source
                srcset="/img/catalog/desc5.webp 1x,
             /img/catalog/desc5-2x.webp 2x"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="/img/catalog/tab5.webp 1x,
             /img/catalog/tab5-2x.webp 2x"
                  media="(min-width: 768px)"
                />
                <img
                src="/img/catalog/tab5.webp"
                  alt="Garmin Fenix 6 Pro Solar" width="768" class="catalog-img"
                />
              </picture>
            </div>
            <div class="catalog-cont-text">
              <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
              <p class="catalog-text section">€400</p>
            </div>
          </div>
        </li>
        <li class="catalog-item">
          <div class="catalog-container-nev">
            <div class="catalog-picture-box">
              <picture>
                <source
                   srcset="/img/catalog/desc6.webp 1x,
             /img/catalog/desc6-2x.webp 2x"
                  media="(min-width: 1280px)"
                />
                <source
                   srcset="/img/catalog/tab6.webp 1x,
             /img/catalog/tab6-2x.webp 2x"
                  media="(min-width: 768px)"
                />
                <img src="/img/catalog/tab6.webp" alt="Garmin D2 Delta PX" 
                width="768" class="catalog-img"/>
              </picture>
            </div>
            <div class="catalog-cont-text">
              <h3 class="catalog-subtitle">
                Tube Watch S42 Date Steel With Black Case
              </h3>
              <p class="catalog-text section">€395</p>
            </div>
          </div>
        </li>
      </ul>
      <button type="button" class="catalog-btn">Show more</button>
    </div>
  </section>