<header>
  <div class="header-wrapper">
    <div class="container">
      <nav class="header-nav">
        <a class="header-logo" href="index.html">watchcharm</a>
        <ul class="header-navigation">
          <li class="header-navigation-items">
            <a
              href="index.html"              
              class="header-navigation-links active"
              >Home</a
            >
          </li>
          <li class="header-navigation-items">
            <a href="#go-about-us" class="header-navigation-links">About us</a>
          </li>
          <li class="header-navigation-items">
            <a href="#go-catalog" class="header-navigation-links">Catalog</a>
          </li>
          <li class="header-navigation-items">
            <a href="#go-sale" class="header-navigation-links">Sale</a>
          </li>
          <li class="header-navigation-items">
            <a href="#go-reviews" class="header-navigation-links">Reviews</a>
          </li>
          <li class="header-navigation-items">
            <a href="#go-contact-us" class="header-navigation-links"
              >Contact us</a
            >
          </li>
        </ul>
        <ul class="header-messengers-list">
          <li class="header-messengers">
            <a
              href="https://www.facebook.com/goITclub/"
              class="header-messengers-button"
              aria-label="facebook"
              target="_blank"
            >
              <svg class="header-messengers-button-svg" width="20" height="20">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="header-messengers">
            <a
              href="https://www.instagram.com/goitclub/"
              class="header-messengers-button"
              aria-label="instagram"
              target="_blank"
            >
              <svg class="header-messengers-button-svg" width="20" height="20">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-messengers">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="header-messengers-button"
              aria-label="youtube"
              target="_blank"
            >
              <svg class="header-messengers-button-svg" width="20" height="20">
                <use href="/img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
        <button
          class="header-button"
          type="button"
          aria-label="navigation"
          data-modal-open-mobile
        >
          <svg class="header-button-svg" width="34" height="34">
            <use href="/img/icons.svg#icon-header-buton"></use>
          </svg>
        </button>
      </nav>
    </div>
  </div>
</header>

<div class="mobile-menu" data-modal-mobile>
  <div class="mobile-container">
    <button type="button" class="mobile-button" data-modal-close-mobile>
      <svg class="mobile-button-svg" width="34" height="34">
        <use href="/img/icons.svg#icon-menu-close"></use>
      </svg>
    </button>
    <nav class="mobile-nav-wrap">
      <ul class="mobile-navigation">
        <li class="mobile-navigation-items">
          <a
            href="index.html"            
            class="mobile-navigation-links active"
            >Home</a
          >
        </li>
        <li class="mobile-navigation-items">
          <a href="#go-about-us" class="mobile-navigation-links">About us</a>
        </li>
        <li class="mobile-navigation-items">
          <a href="#go-catalog" class="mobile-navigation-links">Catalog</a>
        </li>
        <li class="mobile-navigation-items">
          <a href="#go-sale" class="mobile-navigation-links">Sale</a>
        </li>
        <li class="mobile-navigation-items">
          <a href="#go-reviews" class="mobile-navigation-links">Reviews</a>
        </li>
        <li class="mobile-navigation-items">
          <a href="#go-contact-us" class="mobile-navigation-links"
            >Contact us</a
          >
        </li>
      </ul>
    </nav>
    <ul class="mobile-messengers-list">
      <li class="mobile-messengers">
        <a
          href="https://www.facebook.com/goITclub/"
          class="mobile-messengers-button"
          target="_blank"
        >
          <svg class="mobile-messengers-button-svg" width="18" height="18">
            <use href="/img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-messengers">
        <a
          href="https://www.instagram.com/goitclub/"
          class="mobile-messengers-button"
          target="_blank"
        >
          <svg class="mobile-messengers-button-svg" width="18" height="18">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-messengers">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="mobile-messengers-button"
          target="_blank"
        >
          <svg class="mobile-messengers-button-svg" width="18" height="18">
            <use href="/img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
