<section class="hero">
  <div class="container">
    <div class="hero-container-item">
      <div class="hero-text-container">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-part">collection</span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-img-container">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/hero/people-desc1x-min.png 1x,
              /img/hero/people-desc2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/hero/people-tab1x-min.png 1x,
              /img/hero/people-tab2x-min.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/hero/people-mob1x-min.png 1x,
              /img/hero/people-mob2x-min.png 2x
            "
          />
          <img
            src="/img/hero//people-desc1x-min.png"
            alt="photo of people"
            class="hero-people-img"
          />
        </picture>
        <a href="#footer-anchor" class="hero-button">Scroll down</a>
      </div>
    </div>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          /img/hero/hero-clock-desc1x-min.jpg 1x,
          /img/hero/hero-clock-desc2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/hero/hero-clock-tablet1x-min.jpg 1x,
          /img/hero/hero-clock-tablet2x-min.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /img/hero/hero-clock-mob1x-min.jpg 1x,
          /img/hero/hero-clock-mob2x-min.jpg 2x
        "
      />
      <img
        src="/img/hero/hero-clock-desc1x-min.jpg"
        alt="photo of clock"
        class="hero-photo-clock"
      />
    </picture>
  </div>
</section>
