<section class="sale" id="go-sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sub-container">
      <div class="sale-unit-wrap">
        <ul class="sale-unit-list">
          <li class="sale-unit-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="/img/sale/clock-1.webp 1x, /img/sale/clock-1@2x.webp 2x"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/clock-1-mob.webp    1x,
                  /img/sale/clock-1-mob@2x.webp 2x
                "
              />

              <img
                src="/img/sale/clock-1.webp"
                alt="clock-1"
                class="unit-item-img"
              />
            </picture>
          </li>
          <li class="sale-unit-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="/img/sale/clock-2.webp 1x, /img/sale/clock-2@2x.webp 2x"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/clock-2-mob.webp    1x,
                  /img/sale/clock-2-mob@2x.webp 2x
                "
              />

              <img
                src="/img/sale/clock-2.webp"
                alt="clock-2"
                class="unit-item-img"
              />
            </picture>
          </li>
          <li class="sale-unit-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="/img/sale/clock-3.webp 1x, /img/sale/clock-3@2x.webp 2x"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/clock-3-mob.webp    1x,
                  /img/sale/clock-3-mob@2x.webp 2x
                "
              />

              <img
                src="/img/sale/clock-3.webp"
                alt="clock-3"
                class="unit-item-img"
              />
            </picture>
          </li>
          <li class="sale-unit-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="/img/sale/clock-4.webp 1x, /img/sale/clock-4@2x.webp 2x"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/clock-4-mob.webp    1x,
                  /img/sale/clock-4-mob@2x.webp 2x
                "
              />

              <img
                src="/img/sale/clock-4.webp"
                alt="clock-4"
                class="unit-item-img"
              />
            </picture>
          </li>
        </ul>

        <div class="sale-unit-top">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                /img/sale/clock-top.webp    1x,
                /img/sale/clock-top@2x.webp 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /img/sale/clock-top-mob.webp    1x,
                /img/sale/clock-top-mob@2x.webp 2x
              "
            />

            <img
              src="/img/sale/clock-top.webp"
              alt="clock-top"
              class="unit-top-img"
            />
          </picture>
        </div>
      </div>
      <div class="sale-card">
        <h3 class="sale-subtitle">
          MARQ&#174; Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-subtitle-spec">Product tag: 706587</p>

        <ul class="sale-price-list">
          <li class="sale-price-item-active">
            <p class="sale-price-text-active">&#8364;1500</p>
          </li>
          <li class="sale-price-item">
            <p class="sale-price-text">&#8364;3000</p>
          </li>
        </ul>
        <p class="sale-card-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>

        <ul class="sale-options-list">
          <li class="sale-options-item">
            <p class="options-item-text">Fused carbon fiber</p>
          </li>
          <li class="sale-options-item">
            <p class="options-item-text">Grade-5 Titanuim</p>
          </li>
          <li class="sale-options-item">
            <p class="options-item-text">Athlete</p>
          </li>
          <li class="sale-options-item new-string">
            <p class="options-item-text">Golfer</p>
          </li>
          <li class="sale-options-item">
            <p class="options-item-text">Commander</p>
          </li>
          <li class="sale-options-item">
            <p class="options-item-text">Adventurer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
