header {
  font-family: var(--font-family);
}

.header-wrapper {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.header-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--main);
}

@media only screen and (min-width: 768px) {
  .header-logo {
    font-size: 20px;
  }
}

.header-navigation {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .header-navigation {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-navigation-items {
    position: relative;    
  }

  .header-navigation-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: var(--main);
  }

  .header-navigation-items:hover .header-navigation-links::after,
  .header-navigation-items:focus .header-navigation-links::after,
  .header-navigation-items:first-child .header-navigation-links::after {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: var(--accent);
    position: absolute;
    left: calc((100% - 10px) / 2);
    bottom: -7px;
  }
}

.header-messengers-list {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .header-messengers-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-messengers-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    background-color: transparent;
    width: 36px;
    height: 36px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-messengers-button:hover,
  .header-messengers-button:focus {
    border-color: rgba(51, 80, 233, 0.1);
  }

  .header-messengers-button-svg {
    fill: var(--main);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0.8;
  }

  .header-messengers-button:hover .header-messengers-button-svg,
  .header-messengers-button:focus .header-messengers-button-svg {
    fill: var(--accent);
  }
}

.header-button {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

@media only screen and (min-width: 768px) {
  .header-button {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .header-button {
    display: none;
  }
}

.header-button-svg {
  fill: transparent;
  stroke: var(--main);
}

/* ----------------------Mobile menu........................ */

.mobile-menu {
  font-family: var(--font-family);
  position: fixed;
  background-image: url(/img/header/background-mobile-image.jpg);
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-resolution: 192dpi) {
  .mobile-menu {
    background-image: url(/img/header/background-mobile-image-2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    width: 330px;
    background-image: url(/img/header/background-table-image.jpg);
  }

  @media (min-resolution: 192dpi) {
    .mobile-menu {
      background-image: url(/img/header/background-table-image-2x.jpg);
    }
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-container {
  padding-top: 240px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .mobile-container {
    padding-top: 310px;
    padding-bottom: 50px;
  }
}

.mobile-button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

@media only screen and (min-width: 768px) {
  .mobile-button {
    width: 40px;
    height: 40px;
  }
}

.mobile-button-svg {
  stroke: var(--background);
  stroke-width: 2.5px;
}

@media only screen and (min-width: 768px) {
  .mobile-button-svg {
    stroke-width: 3px;
  }
}

.mobile-nav-wrap {
  margin-bottom: auto;
}

.mobile-navigation {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-navigation-items {
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: var(--background);
}

.mobile-navigation-links {
}

.mobile-navigation-items:hover .mobile-navigation-links::after,
.mobile-navigation-items:focus .mobile-navigation-links::after,
.mobile-navigation-items:first-child .mobile-navigation-links::after {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: var(--accent);
  position: absolute;
  left: calc((100% - 10px) / 2);
  bottom: -10px;
}

.active {
}

.mobile-messengers-list {
  display: flex;
  gap: 10px;
}

.mobile-messengers {
}

.mobile-messengers-button {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  background-color: transparent;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .mobile-messengers-button {
    width: 36px;
    height: 36px;
  }
}

.mobile-messengers-button-svg {
  fill: var(--background);
  opacity: 0.8;
}

.mobile-messengers-button:hover .mobile-messengers-button-svg,
.mobile-messengers-button:focus .mobile-messengers-button-svg {
  opacity: 1;
}
