.section-reviews {
  margin-bottom: 60px;
}

.reviews-img {
  display: flex;
  margin: 0 auto;
  margin-bottom: 24px;
  border-radius: 100%;
  border-color: #fbfbfb;
  border-width: 2px;
}

.section-title {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #0C0C0C;
  margin-bottom: 24px;
}

.reviews-item-title {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0C0C0C;
}

.reviews-text {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
  margin-bottom: 32px;

}

.reviews-list {
  display: flex;
  list-style: none;

}

.reviews-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.reviews-list-item:nth-child(2) {
  display: none;
}

.reviews-list-item:nth-child(3) {
  display: none;
}

.reviews-list-item {
  border-radius: 30px;
  padding: 32px 36px;
  background-color: #f3f3f3;
  width: 100%;

}

.reviews-img {
  display: flex;
  margin: 0 auto;
  margin-bottom: 24px;
  border-radius: 100%;
  border-color: #fbfbfb;
  border-width: 2px;
}

.reviews-subtitle {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
}


@media screen and (min-width: 768px) {
  .section-reviews {

    margin-bottom: 80px;
  }

  .section-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }

  .reviews-list {
    gap: 16px;
    display: flex;
    width: 100%;

  }

  .reviews-list-item:nth-child(2) {
    display: block;
  }

  .reviews-list-item {
    width: calc((100% - 16px) / 2);
  }

  .reviews-subtitle {
    font-size: 18px;
    line-height: 1.1;
  }

  .reviews-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .section-reviews {

    margin-bottom: 100px;
  }

  .reviews-list {
    gap: 20px;
    width: 100%;
  }

  .reviews-list-item:nth-child(3) {
    display: block;
  }

  .reviews-list-item {
    width: calc((100% - 2 * 20px) / 3);
  }
}